@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

.hero {
  text-align: center;
  padding: 60px 20px;
  background-color: $background-color;

  h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: $text-color;
  }

  p {
    font-size: 1.2rem;
    color: $text-color-secondary;
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (max-width: $tablet-breakpoint) {
  .hero {
    padding: 40px 20px;

    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.1rem;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .hero {
    padding: 30px 15px;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
