$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

@mixin respond($device) {
  @if $device == mobile {
    @media (max-width: #{$mobile}) {
      @content;
    }
  } @else if $device == tablet {
    @media (min-width: #{ $mobile + 1}px) and (max-width: #{$tablet}) {
      @content;
    }
  } @else if $device == laptop {
    @media (min-width: #{ $tablet + 1}px) and (max-width: #{$laptop}) {
      @content;
    }
  } @else if $device == desktop {
    @media (min-width: #{ $laptop + 1}px) and (max-width: #{$desktop}) {
      @content;
    }
  } @else if $device == ultrawide {
    @media (min-width: #{ $desktop + 1}px) {
      @content;
    }
  }
}
