@import './variables';
@import './breakpoints';

body {
  margin: 0;
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;
}

.container {
  width: 90%;
  margin: auto;
  padding: 1rem;

  @include respond(mobile) {
    width: 95%;
  }

  @include respond(tablet) {
    width: 90%;
  }

  @include respond(laptop) {
    width: 85%;
  }

  @include respond(desktop) {
    width: 75%;
    max-width: 1200px;
  }

  @include respond(ultrawide) {
    width: 70%;
    max-width: 1600px;
  }
}
